@model Ogrenci

<h2 style="color: rgb(46, 0, 46); font-family: 'Indie Flower', cursive; font-size: 2em; font-weight: bold; text-decoration: underline;">Öğrenci Ekle</h2>
<hr></hr>
<form asp-controller="Ogrenci" asp-action="Create" method="post">

    <div class="mb-3">
        <label asp-for="OgrenciAd" class="form-label">Ögrenci Adı</label>
         <input asp-for="OgrenciAd" class="form-control">
    </div>

     <div class="mb-3">
        <label asp-for="OgrenciSoyad" class="form-label">Ögrenci Soyadı</label>
         <input asp-for="OgrenciSoyad" class="form-control">
    </div>

     <div class="mb-3">
        <label asp-for="Eposta" class="form-label">Eposta</label>
         <input asp-for="Eposta" class="form-control">
    </div>

     <div class="mb-3">
        <label asp-for="Telefon" class="form-label">Telefon</label>
         <input asp-for="Telefon" class="form-control">
    </div>

    <Button type="submit" class="btn btn-secondary">Kaydet</Button>

</form>